



DATABASE_URL="postgresql://neondb_owner:password@ep-lucky-tree-a2sjmpff-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@ep-lucky-tree-a2sjmpff.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PENDING_ONLINE_EXPIRY_HOURS="3"